[2019-04-01 23:00] Arachnid opened #1 "No separate URL for 'pending' version of a graph"
This means that on every reload, it defaults back to the current version, and I have to select 'pending' again. It'd be nice if this were persisted in the URL.

[2019-04-02 05:38] Jannis commented on #1
Yep, absolutely.

[2019-05-11 21:26] Jannis opened #2 "Templating system for subgraph manifests"
From Discord during the CoinList hackathon:

[2019-05-12 13:33] Jannis opened #3 "Access to data source and subgraph meta data from mappings"
It is important that mappings have access to the contract address and other information from the data source or subgraph, especially in dynamically created data sources where the address isn't known upfront.

From the CoinList hackathon:

[2019-05-12 15:03] Jannis opened #4 "Entity `.remove()` support"
Currently, entities can only be removed with `store.remove("type", "id")`. It would be more intuitive if there was a static `SomeEntity.remove("id")` or `SomeEntity.delete("id")` method to delete entities.

Ideally, we also have an instance methods with the same name and no parameters of AssemblyScript supports that.

[2019-05-13 07:35] fubhy opened #5 "Comments with leading white space in graphql schema file cause deployment error"
Currently it's not possible to deploy a schema if it has a in-line comment with a leading white-space like so (e.g. when temporarily commenting out a part of the schema):

[code]

This leads to a error during IPFS deployment:
[code]

However, this works:

[code]

Can be tested here: https://github.com/melonproject/melon-subgraph

[2019-05-13 09:55] Jannis commented on #5
That's obscure! Going to look into it.

[2019-05-13 10:00] fubhy commented on #5
Correction: It has nothing to do with the comments. Running `yarn deploy` again after a successful deploy without any changes in `schema.graphql` causes the error. It  seems to choke on a HTML response coming from IPFS (tries to JSON parse a 404/500 with a HTML response?!).

[2019-05-13 10:01] fubhy commented on #5
So the reason why it worked afterwards is because the single character change in the schema (removing the white space) had it pass the IPFS deployment.

[2019-05-13 10:03] Jannis commented on #5
Just to clarify: without any changes at all or just no changes in `schema.graphql`?

[2019-05-13 10:54] Jannis commented on #5
Resolved the problem, it was an intermittent issue caused by proxing to `localhost` rather than `127.0.0.1` in our NGINX proxy for IPFS.

We're using proxies in different places, and if you have two co-located containers in a Kubernetes deployment, you have to be very careful not to proxy from one (nginx) to the other (ipfs / graph-node / whatever) using localhost. You have to use 127.0.0.1 for re

[2019-05-13 10:54] #5 closed, assigned to Jannis

[2019-05-13 12:08] Jannis opened #6 "Events from the current block are not processed for dynamic data sources"
Affected subgraph:

https://github.com/melonproject/melon-subgraph
https://thegraph.com/explorer/subgraph/fubhy/melon

[2019-05-13 13:09] Jannis commented on #6
I added some more logging to the node and ran the subgraph locally. First of all: I can reproduce the problem and will dig deeper.

Logs from that block:
[code]

Observations:

- This is block `0xd207682166c2872fb947c27fafcf38c0c141492d7c304a9174810802b0c10007`
- The `ParticipationDataSource` template is instantiated with address `0x850521446d2fa154262c0ed25027dd2f15873000`
- There are zero trigge

[2019-05-13 13:18] Jannis commented on #6
## Testing theory 1:

- The transactions for that block can be found here: https://etherscan.io/txs?block=7376108
- There is one transaction for the version contract: https://etherscan.io/tx/0xd03344576ef0d0d66cc0a53a4a0625d492ee21e5e6ec8f71a04a8c35e909acf0
- The transaction for the version contract includes 22 events: https://etherscan.io/tx/0xd03344576ef0d0d66cc0a53a4a0625d492ee21e5e6ec8f71a04a8

[2019-05-13 13:48] Jannis commented on #6
I could investigate this more but we realized something: the `Participation` contract is created _before_ this block and so the `EnableInvestment` event is not part of the block that the data source is created but an older block. And, sadly, we don't go back in time to scan those (yet?).

[2019-05-13 13:52] Jannis commented on #6
Closing this for now as I'm still _sure_ that we reprocess calls/events in the current block. If it turns out that that is not the case, we can re-open the issue.

[2019-05-13 13:52] #6 closed, assigned to Jannis

[2019-05-13 13:54] Jannis opened #7 "Document that past blocks of dynamic data sources are not indexed"
The title says it all. This has come up in #6 and https://github.com/graphprotocol/graph-node/issues/902.

[2019-05-14 15:37] #7 closed, assigned to Jannis

[2019-05-15 18:23] Jannis opened #8 "Contract creation handler"
We currently allow
[code]
but it's broken — the constructor handler never gets called.

There's two things we could do:

1. Either map `constructor` function to a trace filter that matches the constructor or disallow `constructor` in `callHandlers`.

2. Add a dedicated `creationHandler` for handling contract creation. Not sure yet how we would detect this but I'm sure there is a way. Ideally, the

[2019-05-15 22:44] ghost commented on #8
This isn't technically broken since this isn't a call handler, in the payload to create a contract the input bytes include the arguments to the constructor (if any). The creation of a contract isn't a CALL opcode, it is a CREATE.

In my estimation this is a separate feature and I created a different ticket for it here before I saw this: https://github.com/graphprotocol/graph-node/issues/949. Feel

[2019-05-16 07:14] Jannis commented on #8
I'd say there's still a bug because `function: constructor(...)`is currently allowed but not doing anything.

[2019-05-21 08:49] fubhy opened #9 "Suggestion: Add separate tab for custom logs"
Now with the new logging feature it would be great to visualize to also pipe the logs into a separate tab on thegraph.com so they don't vanish in the vast amount of normal syncing logs.

[2019-05-21 09:07] fubhy opened #10 "Suggestion: Ability to filter the log by full-text search"
It would be really cool to be able to filter the logs on thegraph.com with a full-text search. I am assuming you are using an ELK stack (or similar)? If so, this could greatly improve the developer experience when trying to hunt down errors on a mainnet deployment.

[2019-05-21 10:34] fubhy commented on #3
I just ran into this again. Use-case: I want to add a block handler on a dynamic data source to make a call on the contract on every block (to store historical information over time) .

[2019-05-21 10:51] fubhy opened #11 "Suggestion: Basic state storage API outside of entities"
I think it might make sense to have a secondary state storage layer that does not get exposed as an entity but is used to control (e.g. filter / reduce / etc.) call / event / block handling.

Example: I want to add a block handler to recalculate something periodically but don't want it to run on every single block. In that case, one could store a state value in the form of the block timestamp and

[2019-05-21 15:07] fubhy opened #12 "Bug: A entity cannot end with an "s""
Currently, when you create an entity with a trailing "s" (denoting plural), e.g. "Calculations" (plural because it's multiple calculations :-P), it does not generate the root query fields properly. Instead, you end up with just a single "calculations" field which does not allow for a list and requires the "id" argument.

I'd suggest to instead call the "list" fields `allCalculations`, etc. (the gr

[2019-05-21 15:12] fubhy commented on #12
At the end of the day, it would be good to simply grant control of how the root `Query` type is constructed instead of generating it all. I think I raised that as a suggestion a few months ago already. Basically, it would be good to combine the store API with a intermediary resolver API and potentially additional directives to allow developers to fully take control of how the generated schema look

[2019-05-22 12:34] fubhy opened #13 "Suggestion: Relay style cursors & connections."
By following the pattern of Relay "Connections" & "Cursors" it would be much easier to implement features like pagination in a frontend: https://facebook.github.io/relay/graphql/connections.htm

[2019-05-22 12:41] fubhy opened #14 "Suggestion: Declare ABIs only once for the whole subgraph.yml"
Instead of having to repeatedly define the ABIs for each data source, I think it would be nice to just be able to define them once at the top of the subgraph.yml definition:

[code]

In addition to that, if one has a directory with all the ABIs in the same place, it could be super handy to just define a file name pattern once?

[code]

[2019-05-22 12:45] fubhy opened #15 "Suggestion: Generate code for ABIs only once"
Currently, when using the same ABI in multiple data sources, each of the data sources will have its own version of the contract's types generated into a nested directory hierarchy.

Instead, it would be great to just generate the ABI's types once. Currently one has to be careful to import the types from the right source and since they are usually named identical it's hard to find the right one wit

[2019-05-22 12:51] fubhy opened #16 "Suggestion: Remember previous subgraph data source addresses and blocks for optimization"
Currently, every time you re-deploy a subgraph it starts from Block #0 while in most cases, the contracts of interest only start becoming relevant at 80% of the syncing progress. Previously I suggested that it would be cool to be able to define a "starting block" number. Instead or additionally it might add some value to add this default behavior:

On every deployment, save the block number at whi

[2019-05-22 14:30] leoyvens commented on #13
Thanks for the issue, the best place to comment on this is #613.

[2019-05-22 14:30] #13 closed, assigned to nobody

[2019-05-22 14:33] leoyvens commented on #16
This is clever, and I suppose and indexing node could do this optimization, but I'm not too eager to make the syncing behaviour depend on db state when there is a simple way of achieving this with the starting block you suggest.

[2019-05-22 19:13] leoyvens commented on #3
This issue seems particular to block handlers, we could add the contract address to the input data.

[2019-05-22 19:24] fubhy commented on #3
@leodasvacas Yes, block handlers. Just the address would indeed be enough for now.

[2019-05-22 22:01] fubhy commented on #16
Maybe instead of storing it on your side you could print the "first handled block" somewhere in the UI so one can then add it to the subgraph manifest?

[2019-05-23 00:13] fordN opened #17 "Bug: Error decoding uint256 output from a nonpayable call function"
The error was encountered in the Melon-subgraph at mainnet block 7648899.  It can be reproduced on this [branch](https://github.com/melonproject/melon-subgraph/tree/jannis).

[code]

[2019-05-23 05:32] fordN commented on #17
@fubhy I was able to reproduce the error on my machine using the `mainnet-kyberPrice` codegen.

It looks like the issue is stemming from the data returned from `performCalculations()` when called at a specific address, [0x280ba3da0b8b3601c19870e5db9126a62449dcdc]([https://etherscan.io/address/0x280ba3da0b8b3601c19870e5db9126a62449dcdc#code](https://etherscan.io/address/0x280ba3da0b8b3601c19870e5db

[2019-05-23 23:38] Jannis commented on #10
@nenadjaja Right now we only match full words, is that correct?

[2019-05-24 12:06] fubhy commented on #17
Thanks for digging in @fordN. I will have to defer your question to @travs and @GauthamN.

[2019-05-28 04:49] Arachnid opened #18 "Add support for Goerli testnet"
It's all the rage.

[2019-05-28 09:52] fubhy opened #19 "Nested dynamic data sources / templates"
It would be great to have support for nested templates. I am sure that nested contract factories are rare but even if that's the case, there are use cases for dynamic data sources beyond contract factories.

[2019-05-28 16:05] leoyvens commented on #12
@fubhy Having this be configurable is a great idea. We're also not happy with default behaviour of using the pluralized word, we'd like to change that at some point.

[2019-05-28 18:20] iherger commented on #19
As discussed on Discord:

Moving templates to the same level as standard data sources may be easier and allow for much more flexibility, since any data source could then potentially instantiate any other data source. A standard template is basically like a template source, except that the standard template has already been instantiated once. Instantiating standard data source several times should

[2019-05-29 07:18] fubhy opened #20 "Add blue / green deployment capabilities for graphs deployed on thegraph.com"
Currently, only an error in the syncing progress prevents a new version of the subgraph from replacing the previous. I think that's not enough. Instead of directly switching out the old version with the new one automatically, this should be a manual task. That way, users could freely test and redeploy new "staging" versions without harming any live applications.

[2019-05-29 07:19] fubhy commented on #20
Essentially, you would already have that if you just made the replacement once syncing is completed manual instead of automatically flipping the switch.

[2019-06-03 14:21] Jannis commented on #19
Yeah, let's flatten the templates and move them next to data sources:
[code]

[2019-06-03 14:45] Jannis commented on #17
Is this the same as https://github.com/graphprotocol/graph-node/issues/932?

[2019-06-03 14:47] Jannis commented on #17
As we find that more and more contracts seem to vary slightly in how their values are encoded, the assumption that ethabi makes (that all values are padded to 32 bytes) may simply be too strong.

[2019-06-04 17:17] Jannis commented on #18
Support for Görli is now available on the hosted service, albeit without tracing support. @olibearo We can't commit to a time for when tracing for Görli will be available yet, right?

[2019-06-04 17:54] ghost commented on #18
Right now we are waiting for Alchemy to add a Goerli endpoint for us, they don't currently support it.

We could spin up our own tracing archive node on Goerli if we need to.

[2019-06-05 08:33] Jannis commented on #18
@Arachnid Is this a blocker for you? If not, I'd prefer limiting Görli support to event handlers for the moment.

[2019-06-05 14:28] iherger opened #21 "Contract function call fails"
The following call fails with an error on Alchemy (but seems to work fine on Infura):
Contract: `0x280ba3da0b8b3601c19870e5db9126a62449dcdc`
Function: `calcGav`
Block: `7648899`
(other contracts in other blocks may be affected as well)

The handler code is: https://github.com/melonproject/melon-subgraph/blob/master/src/mappings/PriceSource.ts#L106

The error message from Alchemy is
```Trying again

[2019-06-05 14:33] Jannis commented on #21
Turns out that Infura (and other nodes) return the same error, just in a less obvious form:

They return
[code]

The `08c379a` stands for "Revert reason". The rest of the data is actually the bytes representation of a string that says "Price is not valid".

So this particular `calcGav` call does fail indeed, on all nodes.

[2019-06-05 14:37] Jannis commented on #21
Looks like the error is coming from https://github.com/melonproject/protocol/blob/79af2fb11e4bbfa0be473054bbded677f7463903/src/contracts/prices/KyberPriceFeed.sol#L160 which must be called somewhere inside https://github.com/melonproject/protocol/blob/79af2fb11e4bbfa0be473054bbded677f7463903/src/contracts/fund/accounting/Accounting.sol#L78-L97.

[2019-06-05 14:41] iherger commented on #21
We had some issues with prices in the past indeed, and that may be the reason.

Funny enough, the call didn't seem to fail the subgraph when using infura, but it may have returned weird numbers, see the lines just below the original function call: https://github.com/melonproject/melon-subgraph/blob/1901770acb5379a7204e6bd5b4bacf693a77107c/src/mappings/PriceSource.ts#L108

[2019-06-05 14:47] Jannis commented on #21
I wish AssemblyScript supported either union types or try/catch. Then we could return the error back to the mapping. Right now our only option would be to return the result or `null`. But `null` is ambiguous, it could also be a correct `0` int value.

[2019-06-05 14:50] Jannis commented on #21
The one workaround I can think of right now is hard-coding block hashes / contract address pairs where you know that `calcGav` will fail. But that's not great. And there may be many?

[2019-06-05 14:56] iherger commented on #21
There are quite a few blocks. I suspect that the errors we are seeing here are the errors which lead to https://github.com/graphprotocol/support/issues/17 (same block, different function, which calls calcGav then).

A workaround could be to return "3963877391197344453575983046348115674221700746820753546331534351508065746944" which is what we got previously.

[2019-06-05 21:59] Arachnid commented on #18
Nope, I'm happy with only event handlers.

[2019-06-06 09:36] Jannis commented on #18
Great! Let's close this issue then. We'll add block/call handler support for more test nets on the hosted service soon.

[2019-06-06 09:36] #18 closed, assigned to nobody

[2019-06-06 11:34] iherger opened #22 "Suggestion: Allow more types in TypedMap"
TypedMap currently doesn't allow for `Address` key type. It might be useful to allow ``Address`` and other types as key types.

There is no compiler error or graph-node warning, the TypedMap object just returns null for a get request with the correct key of type `Address`.

Alternatively, the documentation should be updated as to which types are currently allowed as key types.

[2019-06-07 14:02] Jannis commented on #21
Assertions failing can happen in more places and it can even be desired. We need a way to allow users to handle failed calls gracefully, perhaps even do something with the error returned.

In the absence of union types, try/catch and closures, the easiest and most convenient way to make this possible could be with a `Result<T,E>` type akin to Rust's https://doc.rust-lang.org/core/result/enum.Resul

[2019-06-11 16:19] #8 closed, assigned to nobody

[2019-06-11 18:43] Jannis commented on #17
We can fix padding issues (like `bytes16` values being encoded without trailing zeros; https://github.com/graphprotocol/graph-node/issues/932) but the above suggests that 100 bytes are returned for six `uint256`s. This means the 5th `uint256` is cut off and the 6th is missing altogether. There's no good way to decode that.

[2019-06-12 12:06] fubhy commented on #17
Can you chime in here @GauthamN? I think @iherger found a hasValidPrice call or so to mitigate this already

[2019-06-13 09:27] iherger commented on #17
The way how we mitigate this at the moment:

The error in that function `performCalculations` seems to be caused by invalid asset prices at certain times. `performCalculations` for a fund will fail if one of the assets that the fund can invest in has an invalid price.

In our subgraph implementation, we have now found a way to isolate precisely those cases, when the function will fail (we are read

[2019-06-19 14:19] informartin opened #23 "Bug: _contains suffix does not work"
Hi,

I would like to filter attributes on substrings. Therefore, I would like to use the _contains suffix like this in an example for the ENS subgraph: `domains(where: {name_contains: "ether"})`.
However, nothing is found using that suffix. The _starts_with suffix seems to work as expected though.

Would be cool if that was fixed as especially for matching ENS names, the graph could be very benefi

[2019-06-26 14:51] Jannis commented on #23
Fixed as of graphprotocol/graph-node#1015.

[2019-06-26 15:11] Jannis commented on #23
The fix will be available on the hosted service within the next 15 minutes.

[2019-06-26 15:11] #23 closed, assigned to nobody

[2019-07-01 17:42] leoyvens commented on #22
It should work with any key that supports `==`. I don't see why it wouldn't work with `Address` which is a byte array, if you have a sample of the code you tried that would help debug.

[2019-07-01 23:29] Arachnid commented on #21
It'd be really handy to have this, so we can call contracts we don't trust that may revert.

[2019-07-02 12:21] Jannis commented on #21
I'm thinking of providing what I described above by adding a special
[code]
variant for all callable functions, so developers can choose between handling errors themselves or not.

The `result` API could be something like:
[code]

[2019-07-02 13:13] iherger opened #24 "Hosted service: GraphQL playground not working for pending subgraph"
In the hosted service, the playground for a pending (i.e. not yet fully synced) subgraph is currently querying the the deployed subgraph, not the pending subgraph.

Additionally, the addresses for the GraphQL endpoints for queries and subscriptions for the pending subgraph are not displayed; instead, the addresses for the deployed subgraph are displayed.

Querying the pending subgraph through `htt

[2019-07-02 13:52] iherger opened #25 "Suggestion: ability to filter related entities in the GraphQL API"
In the GraphQL API, filtering is currently possible on root entities, but not on related entities.

Other arguments (like `orderBy`) are available on all levels.

It would be great to also have the ability to filter on related entities, e.g.
[code]

[2019-07-02 14:39] iherger commented on #22
This is the code we are using currently, https://github.com/melonproject/melon-subgraph/blob/master/src/mappings/PriceSource.ts#L175

We are now using `string` as the key type, `Address` didn't seem to work.

[2019-07-02 17:17] nenadjaja commented on #24
Thanks for reporting @iherger ! I'll look into it today

[2019-07-03 20:16] #24 closed, assigned to nenadjaja

[2019-07-04 12:25] iherger commented on #24
This doesn't seem to be fixed yet.

[2019-07-10 15:07] leoyvens commented on #21
My concern about this is making the behaviour reliable across different ethereum nodes that may be used by indexing nodes, since the response format seems to vary.

[2019-07-11 12:50] sudeepb02 opened #26 "[Feature Request] Add support for getDate() function in Date API"
The AssemblyScript [Date API](https://docs.assemblyscript.org/standard-library/date) currently supports only two functions getTime() and setTime(). There is no function to get the day, month or year using the standard API.

These functions might be useful in a case where a user wants to store per day/ per month data using the subgraph. Having this functionality will help in easy conversion of the

[2019-08-05 20:27] jgeary opened #27 "[Feature Request] support abi parameter decoding"
If an event emits a bytes `data` like `'0x000000000000000000000000000000000000000000000000000000000000004000000000000000000000000000000000000000000000000000000000000000ea000000000000000000000000000000000000000000000000000000000000000848656c6c6f212521000000000000000000000000000000000000000000000000'` and a string `ABI` like `'(string,uint256)'`, I'd like to be able to decode `data` via the `ABI` to

[2019-08-12 10:54] Jannis commented on #27
@jgeary I agree that would be useful.

A first sketch of what this could look like:

[code]

[2019-08-13 06:35] 4tal opened #28 "500 blocks lag (after 20 hours) when using graph-node docker image to index private POA, 1 second per block Ethereum blockchain"
Reporting after short discussion with Leo.

After deploy graph-node to a private setup it works fine for around 20~ and then the memory and CPU starts to rise until it's reach a certain point which it start to stay behind the current mined block so for example it current block is 1000 so last block indexed will be 400, 600 blocks behind and after 3 minutes it will be ~1180 and the index will be on

[2019-08-13 06:37] 4tal commented on #28
In the note attached as well the RPC and subgraph specifications.

[2019-08-13 13:31] leoyvens commented on #28
Thanks for the detailed report! @lutter since you've benchmarked `attempt_chain_head_update` before, what's your take on this issue?

[2019-08-14 06:54] 4tal commented on #28
After execute DELETE FROM ethereum_blocks it's recovers for ~30 hours, and then it's start to lag again, till another execution - Recovery time (index without lagging) is ~90 second from command execution.

[2019-08-14 15:45] lutter commented on #28
If I did my math right, 30 hours are about 100,000 blocks; that's not that many. But seeing how this is on a t2.micro, the first thing to try would be to use a larger instance with more memory and more sustained IOPS.

For comparison, in the hosted service, we have about 12M rows in `ethereum_blocks`, and are seeing `attempt_chain_head_update` times of 2.5ms on average, and 1.1s maximum.

It would

[2019-08-14 15:47] lutter commented on #28
Oh wait .. I misread your setup, and didn't see that you are on RDS. So changing your instance won't do anything. I am not familiar with RDS, but my advice is still to increase IOPS and possibly database memory.

[2019-08-19 08:50] 4tal commented on #28
This is from the normal bot channel (updating about graph-node indexing status):
![image](https://user-images.githubusercontent.com/6404507/63251567-a7e14a80-c276-11e9-8a87-9c7b79659c20.png)

This is from the alerts, as you see every 8-14 hours it executes the delete * from Ethereum blocks -
![image](https://user-images.githubusercontent.com/6404507/63251887-5be2d580-c277-11e9-8918-3a6bc1ccda13.pn

[2019-08-30 05:49] 4tal commented on #28
Another update:
I've switched to t2.small from t3,micro - more CPU, memory, connections, read IOPS, write IOPS.

The new graph-node setup worked fine for 4 days, running 2 subgraph.

Before switching to the t2 setup it used to fail every 12 hours, my recovery solution was to automatically clear the cache (Ethereum block) while it detects a lag and then it worked for another 12 hours.

The new setu

[2019-08-30 23:37] lutter commented on #28
Both t2.small and t3.micro are mentioned as 'burstable' in the RDS docs; could it be that they are being throttled because you went over some quota? I would try with something like an m5.large, especially since it says it's 'EBS optimized' which I assume means that it can sustain IOPS better.

[2019-09-01 08:49] 4tal commented on #28
Will try to upgrade it tonight, and will update here.

[2019-09-02 06:44] 4tal commented on #28
![image](https://user-images.githubusercontent.com/6404507/64094753-6320dd80-cd65-11e9-9598-80c387b6efe6.png)

1 - Show the previous crash of the graph-node when we used t2.small (Burstable) instance for the graph-node service. Then I restarted the service and the CPU resets and started to accumulate again.

2 - Switched DB instance to m5.large (EBS Optimized + not burstable) - It seems that it ac

[2019-09-03 06:25] 4tal commented on #28
![image](https://user-images.githubusercontent.com/6404507/64148658-7b0f6480-ce2c-11e9-83b7-215e829fe43d.png)

* - The moment we switched to m5.large. still not solve that problem.

[2019-09-03 15:13] lutter commented on #28
Seems like there's something else going on, too. Is there any way that I could log into your db and have a look at what `pg_stat_statements` says about slow queries?

[2019-09-03 17:35] Jannis commented on #21
This has been fixed via https://github.com/graphprotocol/graph-node/pull/1139, https://github.com/graphprotocol/graph-cli/pull/332 and https://github.com/graphprotocol/graph-ts/pull/74.

[2019-09-03 17:35] #21 closed, assigned to leoyvens

[2019-09-04 14:41] leoyvens commented on #19
This is done.

[2019-09-04 14:41] #19 closed, assigned to leoyvens

[2019-09-05 14:17] orenyodfat opened #29 "Backup all IPFS data files up to a public IPFS node."

[2019-09-05 21:05] jgeary commented on #27
hey @Jannis you mentioned in discord that this would pretty easy to expose given that it's already being done for parsing events etc. if you could point me in the right direction as to where in the codebase this happens then i would like to see if i can get it working for my purposes (and would even be happy to make a PR if i get far enough with it).

[2019-09-09 15:10] lmcorbalan opened #30 "Error when calling a function of a SmartContract bound to an External Owned Account"
It would be great to have a functionality to check if an address is a contract (similar to `web3.eth.getCode('0x...')` ) or to be able to handle the error thrown when calling a function of a SmartContract bound to and External Owned Account.

It throws an error like the one below and stops the syncing :
[code]

[2019-09-11 11:20] Amxx opened #31 "Request feature: Find empty lists using where clauses"
Let's say I have the following entries:

[code]

I would like to select all deals that don't have any tasks. I tried to do

```deals(where: { tasks: [] }) { ... }```

but it gives me `"message": "Invalid value provided for argument `where`: Object({\"tasks\": List([])})"`

Would it be possible to use where clause to find empty lists, or (more powerfull) to be able to compare length like `where: {t

[2019-09-11 11:23] Amxx opened #32 "Bug: selector gets bad entity"
Lets consider the subgraph [here](https://thegraph.com/explorer/subgraph/amxx/iexec-poco-v3)

Query 1:
[code]
Response 1:
[code]
Query 2:
[code]
Response 2:
[code]

While the first query is ok, the second query gives unexpected results...

[2019-09-11 12:09] 4tal commented on #28
Sure, please check the query results and if not enough we'll get you in :)
![image](https://user-images.githubusercontent.com/6404507/64696013-16947b00-d4a6-11e9-8277-e84f6dd61b57.png)

[2019-09-12 17:29] lutter commented on #28
Nothing really jumps out to me from these times, other than that there are multiple entries for the same queries. Are you running several `graph-node` instances against this DB, or did you drop and recreate the `graph-node` database against that instance?

The next thing to look at would be to do another run on indexing with a fresh DB; before starting the indexing, execute `select pg_stat_stateme

[2019-09-14 12:19] 4tal commented on #28
Yeap, I'm running two instances of indexing nodes one for staging and one for testing and the DBs are both on that one RDS DB instance. Should I split them into two RDS instances, is that a problem?

[2019-09-16 17:51] lutter commented on #28
In general, it should be fine, but since we don't know what's causing your issue, it's better if we can look at it in isolation.

[2019-09-17 17:21] #32 closed, assigned to leoyvens

[2019-09-18 09:10] Jannis commented on #12
Related to this: Type names ending with `Metadata` also seem to trigger problems with the pluralization libraries we're using. `Data` works.

`Metadata` leads to generate API schemas with only one top-level `metadata` field (for collection queries). This also breaks the explorer, which isn't currently showing the `Metadata` type in the schema pane.

[2019-09-19 08:29] th3m477 commented on #4
👍  Agree

[2019-09-19 11:41] Jannis commented on #25
I believe this is a bug and the `where` filter is just not included in the generate API schema, even though it should be.

[2019-09-23 12:55] #25 closed, assigned to Jannis, leoyvens

[2019-09-24 11:53] Jannis commented on #26
@MaxGraey Are there any plans to implement more of the standard JS `Date` class in AssemblyScript?

[2019-09-24 11:57] Jannis commented on #26
On our side, it would be trivial to add a date API like:
[code]
For the sake of determinism, we'd need to make sure that this returns the same date values regardless of where on the planet the mapping is executed.

[2019-09-24 12:36] MaxGraey commented on #26
Yeah`Date` object should reimplemt from scratch. I guess we don't even need external `Date_UTC`. Only `Date_now` (UTC only) and something like `c_localtime` (with time zone). But this not high priority for now. Unfortunately reimplement all Date's functionality in proper way is not easy task

[2019-09-24 13:12] MaxGraey commented on #26
Some work done by LiaoPeng [here](https://github.com/AssemblyScript/assemblyscript/pull/357). But I'm not sure about design. Especially `getTimezoneOffset` instead `getLocalTime`

[2019-09-25 05:08] abhayait commented on #26
@Jannis is there a release plan of above solution before hackathon?

[2019-09-25 12:01] Jannis opened #33 "`try_` calls don't handle ABI decoding errors / mismatches"
Contract calls made with `try` handle assertion failures in contracts but they don't currently handle ABI decoding errors / ABI mismatches.

For example, different contracts could implement a `name` function with different return types. A call like
[code]
currently works with contracts that have a `name` function that returns a string, but will fail with contracts that have a `name` function that

[2019-09-25 17:10] leoyvens commented on #33
This seems reasonable, after this we should be more careful when making changes to the decoding logic, for example if we fix a bug to successfully decode something that was failing, we need to version because it's a breaking change.

[2019-09-30 11:57] Amxx opened #34 "[Bugfix + Feature request] transaction.gasUsed is not gasUsed"
Today, when handling an event, the `transaction` object contains gas-related entries:
* `event.transaction.gasPrice`
* `event.transaction.gasUsed`

However, `event.transaction.gasUsed` does **not** contain the gas used but the gas limit (which is part of the transaction). Gas used (and cumulative gas used) are part of the transaction receipt.

Steps that should be taken:
* Rename the current gasUs

[2019-09-30 13:52] leoyvens commented on #34
We could put a `receipt` field in the transaction, without all the logs if that's not necessary. But while we do currently pull in all receipts, that's a wasteful thing we do that I hope to refactor away as part of https://github.com/graphprotocol/graph-node/issues/902. So a `receipt` field should be lazily loaded and fetch the receipt on-the-fly, though we can cache it.

[2019-09-30 15:53] jjgonecrypto commented on #33
This would be a boon for us at Synthetix. We emit events on a proxy contract and the underlying ABIs have shifted over time.

[2019-09-30 18:14] leoyvens commented on #33
To clarify, only a very specific ABI change should be affected by this, which is when you call a function with the same name and parameters as the one in the subgraph's ABI, but the return type has changed.

If the name or input types change, we should already catch it and `reverted` should be true.

[2019-09-30 18:57] jjgonecrypto opened #35 "Feature request: Notification for when subgraph is synced"
As the deployer of a subgraph, in order to speed up my workflow, I want a notification that the subgraph is synced.

Browser notification or even just an email. Is that a possibility?

[2019-10-01 02:00] jjgonecrypto commented on #33
Ah so in that case we shouldn't be impacted by it. It seemed we were running into this with different argument parameters but perhaps not; if I can repro it I will post here.

[2019-10-04 13:59] sistemico opened #36 "Add support for POA Network"
Some projects, which are not yet on mainnet, make use of the [POA Network](https://poa.network/) to provide deployments of alpha o beta versions of their contracts before the release to mainnet. This is the case of the [Audius project](https://github.com/AudiusProject/audius-protocol/tree/master/contracts).

I've been working on a subgraph for Audius and using a local TG node pointing to a POA nod

[2019-10-09 03:04] jjgonecrypto opened #37 "Include network name in EthereumEvent"
In order to reuse a mapping function for different networks in the one subgraph, I’d like the ethereum `network` name included as a property on `EthereumEvent’

[2019-10-10 05:12] jjgonecrypto commented on #37
It will prevent me having to do wrapping functions a la: https://github.com/Synthetixio/synthetix-subgraph/blob/master/src/depot-mapping.ts#L27-L35

@Jannis

[2019-10-10 11:34] leoyvens commented on #37
The solution to this should consider that we also want access to other manifest fields, see #3, so putting it in `EthereumEvent` is not the best solution. We might want to start with a way to get data for the current data source, at least the network and address.

[2019-10-25 14:45] jjgonecrypto opened #38 "Hosted subgraph error should include txn hash"
When errors occur during hosted subgraph processing, errors like the below are missing the transaction hash which caused the issue. This is a tiny fix that would prevent users from having to look up the failing block on a block explorer and hunt through the transactions to find the likely culprit.

![image](https://user-images.githubusercontent.com/799038/67580698-c2232300-f714-11e9-91fc-1c8438b31

[2019-10-25 19:03] ghost commented on #35
@nenadjaja A browser notification would probably be simplest here, maybe just on the subgraph detail page to start since the subscription is already open (is that right?).

Then maybe later, on an account level with a subscription for each deployed subgraph in the background?

[2019-10-25 19:27] nenadjaja commented on #35
Yep , we can do a simple browser notification for now. As long as people enable notifications :) @graph-carl what do you think?

[2019-10-28 07:11] wighawag opened #39 "Example query generate invalid example when deploying a new graph"
My entity Type is called EIP721Tokens and the generated Exampel query is using `eIP721Tokens` instead of `eip721Tokens`
This get generated for every new deploy even if I fix it and save the example query.

[2019-10-28 07:13] wighawag commented on #33
This seems to be a general issue, graph-node crash the whole subgraph when decoding fails.

See : https://github.com/graphprotocol/graph-ts/issues/85

[2019-10-28 13:03] Jannis commented on #39
The rules for pluralization etc. between our JS and Rust code is not guaranteed to be identical. However,  when we generate an example query, it should be possible to fetch the actual schema and pick top-level query fields from there.

@nenadjaja Could you look into this?

[2019-10-28 14:49] Jannis commented on #37
@leoyvens Agreed. I think it would be worth making the data source available to mappings, at least its `name`, `source`, `abis` — the latter could come in a form that we can bind to them, like with `dataSource.abis.SomeContract.bind('...')`.

I see three options here:

1. We add a `dataSource` field to `EthereumEvent`, `EthereumCall` and `EthereumBlock` so that for all different handler types we c

[2019-10-28 15:08] leoyvens commented on #37
I think option 3 is the most straightforward. We have a `dataSource` namespace already, we can use that for `dataSource.network()` or `dataSource.address()`. I like how that reads, but maybe we should put it under a different namespace.

[2019-10-29 19:56] #3 closed, assigned to leoyvens

[2019-10-29 19:56] #37 closed, assigned to leoyvens

[2019-11-03 21:29] Jannis commented on #36
Done. The hosted service now supports POA Core via
[code]

[2019-11-04 18:11] andogro commented on #36
Hello - I was trying to test this functionality by following the Creating a Subgraph Project instruction from an existing contract but poa-core not coming up as an option through cli.
<img width="277" alt="cli_option" src="https://user-images.githubusercontent.com/14284654/68145814-daa0f380-fef3-11e9-8f20-196238efaaa7.png">

[2019-11-05 21:30] nenadjaja commented on #35
@graph-carl we decided to add a button/link to request notifications (instead of pushing them onto users). Can you please design this?
Relates to https://github.com/graphprotocol/graph-explorer/issues/493

[2019-11-06 12:04] hagerling commented on #35
I updated #493
<img width="974" alt="68296835-cc8ad880-0095-11ea-9b2d-0ee66601b84c" src="https://user-images.githubusercontent.com/38695152/68296913-fcd27700-0095-11ea-98ab-893de3b68ffa.png">

[2019-11-06 19:20] Jannis commented on #36
@andogro Good catch! We forgot to update CLI.

[2019-11-06 23:06] Jannis commented on #36
https://github.com/graphprotocol/graph-cli/issues/383 has been merged but we haven't made a new release yet.

[2019-11-09 18:25] PaulRBerg opened #40 "Feature request: function to checksum addresses"
**Do you want to request a *feature* or report a *bug*?**

Request a feature.

**What is the current behavior?**

All addresses found in event parameters are handled as lowercase strings, contrasting the latest community interest in pushing towards the checksummed version, which provides better security.

**What is the expected behavior?**

Addresses are checksummed by default or there is a new fu

[2019-11-09 21:56] Jannis commented on #1
This has been implemented for a while. The explorer now adds `?version=pending`  / `?version=current` when you switch between versions and automatically shows the right version when you refresh.

[2019-11-09 21:56] #1 closed, assigned to nenadjaja

[2019-11-09 22:04] Jannis commented on #10
This has been done for a while.

[2019-11-09 22:04] #10 closed, assigned to nenadjaja

[2019-11-12 10:12] Jannis commented on #36
@andogro We've just released graph-cli 0.16.1, which has support for `--network poa-core` in `graph init`. That completes our support for POA Core across all components.

[2019-11-12 10:12] #36 closed, assigned to Jannis

[2019-11-14 21:11] leoyvens commented on #30
Would it be possible to provide a minimal subgraph that reproduces this?

[2019-11-19 14:35] sistemico opened #41 "Feature request: checking content in more than one IPFS node"
Loading unpinned files in the official IPFS nodes produce timeout in most cases. This is a limitation that prevents the development of some subgraphs in certain scenarios. For example, the SuperRare[1] subgraph is unable to process the artwork's metadata stored as JSON files in IPFS because pinning each descriptor file in advance is not possible. Although all the metadata is registered in the same

[2019-11-19 19:47] lmcorbalan commented on #30
@leoyvens
You could use this subgraph https://github.com/protofire/maker-governance-subgraph
The error occurs in this line https://github.com/protofire/maker-governance-subgraph/blob/master/src/mappings/DSChief.ts#L399 when you remove the `if` clause from this other line https://github.com/protofire/maker-governance-subgraph/blob/master/src/mappings/DSChief.ts#L387

Please let me know if it works

[2019-11-21 22:32] jjgonecrypto commented on #38
Ugh - again.

[code]

and I have to look through 150 txns: https://etherscan.io/txs?block=8964880

[2019-11-21 22:50] Jannis commented on #38
@justinjmoses Sorry this is causing frustration. You're right, it should be a simple change. @fordN has offered to take a look at it today.

[2019-11-22 01:26] ghost commented on #38
@justinjmoses We deployed an update which will include the transaction hash in the log when the subgraph fails, thanks for reporting this

[2019-11-22 01:26] #38 closed, assigned to fordN

[2019-11-22 19:25] #33 closed, assigned to leoyvens

[2019-11-25 19:30] lmcorbalan opened #42 "Call handler defined in Data Source Template not being executed"
The call handler defined here https://github.com/protofire/maker-governance-subgraph/blob/track-DssLaunchSpell/subgraph.yaml#L177 is not being triggered.

The instance of the template is being created here https://github.com/protofire/maker-governance-subgraph/blob/track-DssLaunchSpell/src/mappings/DSChief.ts#L402.

And this is the tx where the smart contract function is being executed: https://et

[2019-11-30 23:44] Jannis commented on #27
@jgeary Hey! Sorry, I completely missed your comment. Are you still interested in working on it?

[2019-12-01 18:45] jgeary commented on #27
@Jannis sure!

[2019-12-03 13:33] danielheyman opened #43 "Feature Request: Fill in startBlock during graph init"
After researching block speed scanning improvements, I stumbled upon the startBlock feature in the docs. This feature is a hidden gem that saves a significant amount of time during development as it skips unnecessary block scans.

The docs do mention: `Note: The contract creation block can be quickly looked up on Etherscan: 1. Search for the contract by entering its address in the search bar. 2. C

[2019-12-03 19:20] bgits opened #44 "[Bug + Feature Request] json fails to parse"
I have a subgraph which is failing due to a failure to parse json.

Given that assemblyscript currently doesn't have conventions for error handling, there does not seem to be a good way to check if `bytes` are a json without causing a fatal error. This can also cause a DOS if non json data is supplied to the contract where json is expected.

Possible ways to handle this would be a `isJson` functio

[2019-12-09 10:41] Amxx opened #45 "Cleanup ethereum_blocks table to save disk"
After just 10 days running my own graph-node, the VM ran out of disk. The source is the `ethereum_blocks` in the postgres table being over 8GB from ~850 000 blocks.

[code]

My graphnode is looking at 5 blockchains, 4 of which have ~4sec between blocks. The fifth one is mainnet.

This is clearly not sustainable. We have dedicated (archive) nodes that have large disks, but we expected the graphnode

[2019-12-09 11:07] Jannis commented on #45
A good way to solve this in graph-node would be delete all but the `REORG_THRESHOLD`/`ANCESTOR_COUNT` blocks in the database when ingesting blocks. This would establish a fixed-size window of blocks that are kept around. I'd even say this should be the default mode.

Cleaning up old blocks is fairly easy. A CLI flag + env var + cleanup query that is executed frequently enough is all it should take

[2019-12-09 12:15] Jannis commented on #42
@olibearo Has this been rolled out?

[2019-12-09 15:09] ghost commented on #42
Yes, it has been deployed to production

[2019-12-09 15:09] #42 closed, assigned to nobody

[2019-12-10 17:05] That3Percent opened #46 "Support for Node 12.x"
The current LTS version of Node that is required by codegen is Node 10.x. Attempting to go through the [Quick Start](https://thegraph.com/docs/quick-start) using Node 12.x fails on the step `yarn & yarn codegen` with the following:

[code]

I suggest that we add support for the latest Node LTS - 12.x. In the interim until support can be added I suggest that we amend the docs with a note on which v

[2019-12-11 01:18] lutter commented on #45
The difficult bit is that we need to be careful to not delete blocks that a subgraph that is currently syncing needs (i.e., in the time between a subgraph finding out there is a new block and trying to get it from the DB)

One simple way to avoid that is to prune all blocks that come before the minimum of the current head of any syncing subgraphs, or before the chain head if there are no syncing s

[2019-12-12 13:15] Jannis commented on #41
Possible solution:

1. Make `graph-node` take more than one IPFS node via it's env vars / CLI args.
2. Create multiple IPFS clients in `graph-node` for each of the nodes.
3. Pass all of these to `LinkResolver` and implement resolution in `LinkResolver` so it fails over from one to the next when a file cannot be found, until either one node has the file or none of them have it.

[2019-12-12 13:26] Jannis commented on #41
Some context: right now `graph-node` only talks to a single IPFS node. In fact, the entire hosted service relies on a single IPFS node. This currently requires all subgraphs to pin IPFS files they might need to index data from on our IPFS node (see https://thegraph.com/docs/define-a-subgraph#ipfs-pinning).

There are a number of public IPFS gateways out there that we should hit in turn, rather tha

[2019-12-12 13:29] Jannis commented on #41
There's also CloudFlare but I'm not sure it works with IPFS clients out of the box: https://cloudflare-ipfs.com/ (e.g. https://cloudflare-ipfs.com/ipfs/QmXoypizjW3WknFiJnKLwHCnL72vedxjQkDDP1mXWo6uco/wiki/`)

[2019-12-13 15:09] zsinag opened #47 "Quick start notes"
I followed the instruction on our Quick Start page to install a graph node on a Ubuntu 18.04 machine.
Here's the issues I encountered and their solutions (thanks for the help @Jannis).

1) `docker, docker-compose, jq` were not installed, resolved based on setup.sh output
2) `setup.sh` error (ERROR: No containers to start), resolved in [this commit](https://github.com/graphprotocol/graph-node/commi

[2019-12-16 12:57] Jannis commented on #41
There's also https://ipfs.pixura.io/ipfs/, which may be needed for SuperRare. Like with CloudFlare, I'm not sure it's fully compatible with IPFS clients.

[2019-12-17 17:00] Jannis opened #48 "Overloaded ABI functions treated differently in graph-node and generated code"
ABIs that contain two overloaded variants of the same function, e.g. `symbol` result in generated code that has `symbol` and `symbol1`, one for each variant. However, when calling `symbol` and `symbol1` from mappings, graph-node always picks the _same_ variant to encode/decode inputs/outputs.

This causes `EthereumValue` conversion errors if e.g. the expected return types of `symbol` and `symbol1`

[2019-12-19 18:32] #45 closed, assigned to nobody

[2019-12-20 10:31] jamesmorgan opened #49 "Support for endBlock in subgraph defs"
We often replace/retire contracts but still want to index the events/transactions from these older unused contracts.

Would be great if there was a `endBlock` we could define which would allow us to set a definitive data to stop indexing contracts from.

Would save time/resources maintaining checks for things which are no longer used.

Thanks for an awesome product 🙏

[2020-01-08 22:32] Jannis commented on #48
PRs that will (together) fix the issue:

- [x] https://github.com/graphprotocol/ethabi/pull/11 (also submitted upstream: https://github.com/paritytech/ethabi/pull/166)
- [x] https://github.com/graphprotocol/graph-ts/pull/100
- [x] https://github.com/graphprotocol/graph-cli/pull/415
- [x] https://github.com/graphprotocol/graph-node/pull/1440

[2020-01-08 22:34] Jannis commented on #48
Bonus PRs:

- [x] https://github.com/graphprotocol/graph-cli/pull/414 (to add `graph test`)
- [x] https://github.com/graphprotocol/graph-node/pull/1441 (an integration test for this particular issue based on `graph test`)

[2020-01-21 21:53] asselstine opened #50 "Automatic entity versioning would be really helpful for queries that include `block`"
We are querying entities using the new 'block' time travel feature.  We query the Pool contract for the current prize size, then query it with past blocks to determine past prize sizes.

We use Apollo Client for our front-end.  It's caching layer keys objects using "typename:id" to determine object uniqueness.  The problem is that old "versions" of the Pool entity are clobbering new versions as th

[2020-01-22 18:32] chadoh opened #51 "Feature request: index failed transactions"
When looking at transactions against a contract in etherscan, I can see failed transactions ([example](https://etherscan.io/tx/0xacdadb5eb710f7adeb6a387d89f2e53069177bc2fb53e304a3b4a8e9dd8b0d0d))

When crawling blocks with web3.js, I can look through all transactions against my contract, then fetch the transaction receipt for each one to determine if the transaction succeeded or failed ([example](

[2020-01-27 08:53] olekspickle opened #52 "ByteArray.fromHexString: odd input length"
Apparently ByteArray.fromHexString("0x0") - is how you get input `0x0 has odd length` assert from graph-ts/ByteArray.fromHexString implementation.

Basically I have a [helper function](https://github.com/akropolisio/credit-pool-subgraph/blob/028f7f23687e7d560e6e9b1b9385016933e28f5f/src/utils.ts#L6) to construct hash out of two strings, and I am using it for `crypto.keccak256` input to concat two `

[2020-02-04 10:08] iherger opened #53 "Feature request: add event name to EthereumEvent class"
For general event logging purposes, it would be very useful to have access to the event name in the `EthereumEvent` class.

E.g. if my subgraph manifest contains
[code]
I would like to be able to do something like
[code]
My current solution also works, but is more manual and therefore error prone:
[code]

[2020-02-14 15:51] #48 closed, assigned to nobody

[2020-02-17 13:31] olekspickle opened #54 "Feature request: BigInt.sqrt()"
It is really no other option to calculate `sqrt` without it being part of official `BigInt` implementation.

I went with this implementation, which successfully executed for some events, but eventually crashes with `Mapping handler timed out`:
[code]
could be useful though.

upd: looks like it dont work as I thought.
Output is always 65535 for significantly big enough ints...
Anyway, I think it co

[2020-02-20 07:19] olekspickle commented on #54
Closing because I did the PR with working function.

[2020-02-20 07:19] #54 closed, assigned to nobody

[2020-02-20 13:18] ksvirsky opened #55 "Suggestion: Order by Multiple Fields"
In the GraphQL API, it is possible to orderBy one of the entity's fields. Is there a way to sort by two, or more fields something like:

[code]

[2020-03-18 16:10] cag opened #56 "Feature request: history of an entity"
Right now, a query like this is possible already if I want to see how `changingField` changes on a `thing`:

[code]

However, this isn't scalable to a week's worth of time, which would take 40k entries, and could be about a value that changes seldomly.

This feature is about making a way to get the sparse history of an entity with pagination and within a block range.

[2020-05-14 18:25] ejwessel opened #57 "[BUG] Emitted event between two contracts conflicts"
# Problem
I have two factory contracts (A, B) that both implement the same interface (C). The interface defines an event that both factory contracts emit. When attempting to index both contract A and B only one of the contracts is indexed for the emitted events.

# Steps to Reproduce
1. clone `airswap-protocols`
1. change to [AirSwap Draft PR #534]( https://github.com/airswap/airswap-protocols/pul

[2020-05-14 21:32] davekay100 commented on #57
So we figured out the following:

- Ganache often will snapshot the blockchain, and completely revert the state
- This leads to misleading output by the graph node. Basically if multiple test files are run, it can lead to ganache resetting state multiple times. If you start the subgraph after the tests are done, it will only pick up the last run tests. If you start if before, it will freeze after

[2020-05-14 21:32] #57 closed, assigned to nobody

[2020-05-15 14:57] ejwessel commented on #57
IIRC this is implemented over `contract`

Regarding the AirSwap Issue denoted above:
Because `Delegate.js` and `Delegate-V2.js` are two separate `contract` calls, the environment resets in between the two test files. This also explains why changing the order of which test runs first determines which contract is indexed.

In short, the graph is working as expected, as it does not expect the underly

[2020-05-15 16:08] Jannis commented on #12
Our latest thinking on this is the addition of a feature called "custom query fields":

# Custom Query Fields

The GraphQL schema currently provides no control over what the singular and plural fields are called, leading to bugs like ["entity cannot end with an 's'"](https://github.com/graphprotocol/support/issues/12). Not being able to control the generated name breaks with type names that have n

[2020-05-15 19:09] eternauta1337 opened #58 "Feature request: generic entry point"
In some cases, you could have templates that are not generated by a factory contract, or that are generated by a factory contract that does not emit an event, but you somehow know the addresses of these contracts.

An easy workaround is to duplicate code in the yaml config file, or to generate it dynamically.

It would be nice tho to have some sort of entry function that you could call, to instant

[2020-05-15 19:10] eternauta1337 opened #59 "Feature request: auto startBlock"
When using `graph init --from-contract`, it'd be nice to automatically generate the startBlock in the yaml config file by fetching it from etherscan.

[2020-05-19 17:43] eternauta1337 opened #60 "ethereum namespace members not exported in templates"
IDEs are not detecting properties from @graphprotocol/graph-ts/chain/ethereum/ts::Event

![Screenshot from 2020-05-19 14-33-13](https://user-images.githubusercontent.com/550409/82359103-d6df4500-99dd-11ea-9608-aff17e30a169.png)

Error: "Property 'address' does not exist on type 'Transfer'.ts(2339)"

Related, Event is not found in generated Event types:

![Screenshot from 2020-05-19 14-35-08](https

[2020-05-19 17:55] Jannis commented on #60
Fixed via https://github.com/graphprotocol/graph-ts/pull/111 and released as part of https://github.com/graphprotocol/graph-ts/releases/tag/v0.18.1.

[2020-05-19 17:55] #60 closed, assigned to nobody

[2020-07-07 14:03] gjeanmart commented on #27
Hey,
Any ETA on this one?
thanks

[2020-07-29 19:38] That3Percent commented on #41
This has been implemented (for some time now, actually... sorry this should have been closed back then).

You can now supply multiple `-ipfs HOST:PORT` arguments on the command-line. When multiple IPFS nodes are available, the indexer will "race" the two nodes with a call to get the file stats (eg: how big the file is). Whichever node responds first is presumed to have the file and will be used to

[2020-07-29 19:38] #41 closed, assigned to Jannis, That3Percent

[2020-08-06 09:12] max-block opened #61 "Is it possible to query with a nested where syntax?"
https://thegraph.com/explorer/subgraph/uniswap/uniswap-v2
I'm trying to find all swaps, where swap.pair.token0.symbol="USDC".

I've tried two queries, buy they don't work.
[code]
This query generates an error: Invalid value provided for argument `where`: Object({\"pair\": Object({\"token0\": Object({\"symbol\": String(\"USDC\")})})})

[code]
This query runs, but doesn't filter by symbol.

[2020-08-31 19:51] ebonetti opened #62 "Suggestion: integrate graphical schema overview in subgraph explorer"
Integrating a graphical schema overview (such as [GraphQL Voyager](https://apis.guru/graphql-voyager/)) could make exploring subgraph schemas more intuitive for new users.

Keep up the Great Work,
Enrico

[2020-09-08 18:18] kibagateaux opened #63 "Support default values in schema according to GraphQL spec"
Hey Graph team. Just want to say this is my first time using The Graph and it's awesome!

I was trying to add a default value to a field in my schema which is supposedly supported in the [graphql spec](http://spec.graphql.org/June2018/#DefaultValue) but I get a syntax error on the = when i run graph codegen.

#### Steps to reproduce:
1. in schema/graphql have a an entity like
[code]
2. run `graph

[2020-09-13 16:27] legiojuve opened #64 "Explorer signals/unsignals: Signals are not recalculated then fill minimum GRT value"
When I make a signal to a subgraph and fill in the minimum GRT (100), the number of signals is not recalculated.

When I fill 101 GRT, the signals are recalculated...

Same thing when I make unsignal

[2020-09-18 11:47] diranl opened #65 "All Uniswap V2 integrations stopped 5hrs ago at 6:03am (UTC) 09/18/2020"
Flagging this for high priority.

**Issue:** all Uniswap V2 integrations stopped 5hrs ago at 6:03am (UTC) 09/18/2020.

**Likely cause:** the graph's indexers are down.

**Symptom:** uniswap.info is 5hrs behind and counting, https://uniswap.info/pair/0x3b3d4eefdc603b232907a7f3d0ed1eea5c62b5f7

**Result:** all downstream consumers of the graph are stalled

**Addendum:** interestingly the Compound V2

[2020-11-02 19:22] fig-4964 opened #66 "Bug on the website http://everest.link/:"
![image](https://user-images.githubusercontent.com/73831077/97909623-5b463a00-1d6a-11eb-92a5-d9d3d3eff95d.png)
--------------------------------------------------------------------------------------------------------------
![image](https://user-images.githubusercontent.com/73831077/97909776-8fb9f600-1d6a-11eb-8c81-f2fa81fa7a39.png)

When I write "bit" in the search bar, a white screen appears.

htt

[2020-11-10 15:20] rshah-deqode opened #67 "Unable to input skip value greater than 50000 in thegraph queries"
While using [UniswapV2](https://thegraph.com/explorer/subgraph/uniswap/uniswap-v2) graph, I ran the following query

[code]

and got this error response

[code]
It is not accepting **skip** value greater than 50000, even if it is 50001 it is throwing the same error, this was not an issue previously because I was able to run above query but now I started facing this issue.

Also I tried this many o

[2020-11-22 17:10] dutterbutter opened #68 "Default example query for uniswap v2 in the explorer includes non-existing field"
When visiting [Uniswap v2 on the explorer ](https://thegraph.com/explorer/subgraph/uniswap/uniswap-v2), the graphql example query includes a non-existing field, `pairs`. This is the default graphql presented and when you execute the query it fails. The default schema should be updated to remove the field `pairs`. Included output below and screen shot.

**Current Behaviour:**

Default Graphql schem

[2020-12-23 13:18] leoyvens commented on #63
Hi @kibagateaux, default values in graphql are for variables, arguments and input objects, not entity fields.

[2020-12-23 13:54] #63 closed, assigned to nobody

[2020-12-23 13:54] #65 closed, assigned to nobody

[2020-12-23 18:33] jacobrosenthal opened #69 "Odd behaviour, printing logs out of order, memory corruption characters?"
[this graph](https://github.com/jacobrosenthal/darkforest-graph/commits/v4
) is [running currently](https://thegraph.com/explorer/subgraph/jacobrosenthal/dark-forest-v04
) nicely

Were launching the v05 version of our contract.
Very little has changed for our new version, but its failing almost immediately claiming it cannot save one of our entities without an id. Again that code, nor the contract

[2021-01-04 22:21] jacobrosenthal commented on #69
Sigh. Logs out of order Im not sure, but I figured out the abi. User error.

I had hardcoded the contract address in Contract.bind in blockhandler because Im not sure if its otherwise available there? And that went out of sync with the subgraph.yaml

[2021-01-04 22:21] #69 closed, assigned to nobody

[2021-01-06 17:27] lutter commented on #68
Thanks for the report! I fixed that a few weeks ago, but forgot to note that on this ticket.

[2021-01-06 17:27] #68 closed, assigned to nobody

[2021-01-06 17:31] lutter commented on #67
Yes, we had to restrict `skip` since we were seeing an increasing number of queries that try to download collections using `first`/`skip` which for large `skip` values is very expensive. The recommended way for retrieving large numbers of entities is documented [here](https://thegraph.com/docs/graphql-api#queries) (search for `large number of entities`)

[2021-01-06 17:31] #67 closed, assigned to nobody

[2021-02-09 17:56] fordN opened #70 "hosted-service explorer Improvement request: strip exif data from uploaded images"
In order to provide extra protection of user privacy, Exif data can be stripped from uploaded images.

[2021-03-03 15:55] 0xCaviar opened #71 "code: InvalidParams, message: "invalid argument 1: hex string without 0x prefix" use network=fantom"
![image](https://user-images.githubusercontent.com/77817341/109832726-99515d00-7c7b-11eb-9efb-689dfb059ffc.png)

when i use network=fantom. echo above error. why?

Web3Error(Rpc(Error { code: InvalidParams, message: "invalid argument 1: hex string without 0x prefix", data: None })))

the same code use network=mainnet is running ok. use fantom echo this error.

[2021-03-03 19:58] leoyvens commented on #71
Fantom does not yet support EIP-1898 which we require for contract calls.

[2021-03-03 20:12] leoyvens commented on #71
While they don't add support, graph-node could use calls by number for Fantom, possibly with a check like the one that was used for ganache https://github.com/graphprotocol/graph-node/blob/688f157021c936d92b7afc2474e716988647d709/chain/ethereum/src/ethereum_adapter.rs#L107.

[2021-03-04 01:46] 0xCaviar commented on #71
ok, thanks so much. i will try and check.

[2021-03-04 01:46] #71 closed, assigned to fordN

[2021-03-04 11:41] itirabasso commented on #27
Is there any plan to support this?

[2021-03-24 13:29] rajatnishu25 commented on #5
Failed to upload subgraph to IPFS: Failed to upload file to IPFS: connect ECONNREFUSED 127.0.0.1:5001

when i run yarn deploy-local cmd i am facing above issue

[2021-04-06 11:19] milonite commented on #27
The support for abi.encode/encodePacked is still in the plans?

[2021-04-14 21:39] leoyvens commented on #27
Done in https://github.com/graphprotocol/graph-node/pull/2348, however not for the packed versions, those are harder because the ethabi crate does not support it.

[2021-04-14 21:39] #27 closed, assigned to fordN

[2021-04-14 22:57] leoyvens commented on #61
This is a known limitation

[2021-04-14 22:57] #61 closed, assigned to nobody

[2021-04-24 14:55] fnanni-0 opened #72 "Out of gas tx triggers subgraph call handler"
[This transaction](https://etherscan.io/tx/0x2cd6ef64770b12e29006fd3e4a9cd008e98f62d51f9f7b91e58d7d670219b8da) ran out of gas. The purpose of this transaction was to execute 3 different transactions through a transaction batcher contract. You can see that the first of those transactions is calling executeRequest() of [this contract](https://etherscan.io/address/0xC5E9dDebb09Cd64DfaCab4011A0D5cEDaf

[2021-04-25 06:22] tmac2yt commented on #5
I facing the same issue,do you have solved?

[2021-04-25 06:25] tmac2yt opened #73 "Failed to upload subgraph to IPFS: Failed to upload file to IPFS: connect ETIMEDOUT 104.18.11.19:443"
√ Compile subgraph
  Copy subgraph file build\schema.graphql
  Write subgraph file build\contract\abi\lend721.json
  Write subgraph manifest build\subgraph.yaml
√ Write compiled subgraph to build\
  Add file to IPFS build\schema.graphql
× Failed to upload subgraph to IPFS: Failed to upload file to IPFS: connect ETIMEDOUT 104.18.11.19:443
Error: Failed to upload file to IPFS: connect ETIMEDOUT 104.

[2021-04-26 13:57] leoyvens commented on #73
Which was the IPFS node being used? This is a networking error to the IPFS node.

[2021-04-26 14:06] leoyvens commented on #72
This is probably because in the [traces](https://etherscan.io/vmtrace?txhash=0x2cd6ef64770b12e29006fd3e4a9cd008e98f62d51f9f7b91e58d7d670219b8da&type=parity) the call to the contract did not error, even though the transaction itself reverted.

[2021-06-01 00:22] Wetitpig opened #74 "Missing trie node"
I am trying to sync a [subgraph](https://thegraph.com/explorer/subgraph/wetitpig-cross-chain/streetswap?selected=logs) on thegraph.com, however it failed without any reason displayed in the console.

Further queries on the index API showed the following error:
[code]

This seems to be a bug with the indexer, where some trie nodes were dropped. Is there a solution to this seemingly server-side erro

[2021-06-01 10:25] schmidsi commented on #74
Hi @Wetitpig, thanks for the report. We are currently experiencing issues with BSC indexing. We are investigating and will ping you once we have solved it.

[2021-06-01 15:36] vmatskiv opened #75 "Error indexing subgraph QmYtkrAwgNZSc5jwMSRiR29eCSPXXhf9jfqpCgr8NvBhq6"
**Do you want to request a *feature* or report a *bug*?**
Bug
**What is the current behavior?**
Syncing of the subgraph QmYtkrAwgNZSc5jwMSRiR29eCSPXXhf9jfqpCgr8NvBhq6 delivers the following error:

Possible reorg detected, retrying, id: QmYtkrAwgNZSc5jwMSRiR29eCSPXXhf9jfqpCgr8NvBhq6, error: Failed to process trigger in block #6810753 (1e9e467b6cbd8405a77b6daaf4c41f72e2fec3030fdd2ec5095149d8cbffddd

[2021-06-01 16:39] schmidsi commented on #75
We are currently experiencing issues with the BSC archive nodes that leads to problems with indexing subgraphs. You can subscribe to updates here: https://status.thegraph.com. We are working to find a solution.

[2021-06-04 10:18] vmatskiv commented on #75
I am still experiencing the issue above. Do you know any time estimation when it might be fixed?

[2021-06-04 13:04] schmidsi commented on #75
Not at the moment.

[2021-06-04 13:08] vmatskiv commented on #75
Maybe there are other solutions? Some workarounds to suggest?

[2021-06-04 13:25] schmidsi commented on #75
If the contract that you try to index is deployed after block 7796111 or you just start to index events after this block, it should work.

[2021-06-04 13:31] vmatskiv commented on #75
In my case contract was deployed in 6808737 block :(

[2021-06-04 13:36] schmidsi commented on #75
Try to set startBlock in your subgraph.yml to `7796111` anyways. Sometimes, not all historical data is needed. You can still change to 6808737 as soon as we fixed this.

[2021-06-09 21:06] habdelra commented on #40
as a work around here is a function written in assembly script that can create checksummed addresses:
[code]
(derived from the web3 code here https://github.com/ChainSafe/web3.js/blob/5d027191c5cb7ffbcd44083528bdab19b4e14744/packages/web3-utils/src/index.js#L296-L317)

[2021-06-25 10:35] heri16 commented on #61
Any updates on this?

[2021-07-05 07:18] paulrberg commented on #49
This would be great! We're triggering way too many event handlers than we would if we had an `endBlock` setting.

[2021-07-05 17:13] schmidsi commented on #16
I think this is resolved since we have a `startBlock` per data source and grafting. Otherwise, feel free to reopen this issue and clarify.

[2021-07-05 17:13] #16 closed, assigned to nobody

[2021-07-06 02:50] longhoangwkm commented on #75
![image](https://user-images.githubusercontent.com/34698136/124534938-7c9e7f00-de3f-11eb-8cc7-949cc99980e5.png)
we also got this error on Testnet

[2021-07-06 17:20] schmidsi commented on #75
@longhoangwkm Is this on `chapel`? Would you mind sharing the URL of your subgraph with us?

[2021-07-06 22:43] drortirosh opened #77 "How can I use IntelliJ's graphql plugin?"
The plugin is very nice at validating the graphql schema.
However, it requires to add the following 4 lines:

[code]

It compiles correctly but fails (at runtime!, after deployment) because Bytes, BigInt are redefined

How can I have a graphql file that is valid both for "graph deploy" and for the graphql plugin?

[2021-07-07 13:06] schmidsi commented on #77
Thanks for the issue. Unfortunately, the `schema.graphql` to be consumed by the graph-node is a bit special and is not compatible with all the standard GraphQL tooling at the moment.

[2021-07-07 13:08] schmidsi commented on #77
Maybe you can configure IntelliJ's GraphQL plugin to ignore our extensions (`@entity, @derivedFrom, BigInt, Bytes`, etc)? Or that it assumes that they are defined globally?

[2021-07-07 13:16] rhlsthrm opened #76 "[feature-request] Generate compliant schema to use with traditional GraphQL tooling"
I am using [GraphQL Code Generator](https://www.graphql-code-generator.com) to generate a Typescript typed client. This works great if I point my codegen schema file at the deployed subgraph, i.e.
[code]

However if I try to point at a local schema, i.e.
[code]

I get an error about types:

[code]

Some helpful people on Discord informed me that the schema that Graph uses is non-compliant and ther

[2021-07-07 14:42] schmidsi commented on #74
Related: https://github.com/graphprotocol/support/issues/75

[2021-07-07 15:28] schmidsi commented on #76
Thanks for the write-up: The current problem is that we use `schema.graphql` as our database schema definition. The actual generated schema that clients query is not saved during development process. I see two milestones to solve this problems:

1. Low hanging fruit: Make `yarn build` also output the generated schema so we can reuse it for tooling like that
2. Longterm: Refactor the database schem

[2021-07-07 15:33] rhlsthrm commented on #76
This would fit my needs perfectly!

[2021-07-08 10:12] azf20 commented on #74
The BSC team are working on a proxy that will enable full archival support

[2021-07-08 11:49] schmidsi opened #78 "Hosted Service IPFS Node errors"
When trying to pin a file to one of our nodes, the following error is reported:
[Reported on Discord](https://discord.com/channels/438038660412342282/791444347823980604/862472962615934986)
![image](https://user-images.githubusercontent.com/9612972/124899698-48aa9180-dfd8-11eb-95d4-527b20cde610.png)

[2021-07-08 11:52] schmidsi commented on #78
Code to pin:
[code]

[code]

[2021-07-08 14:23] schmidsi commented on #78
This might be related: https://github.com/ipfs/go-libipfs/issues/85
And this: https://github.com/ipfs/go-bitswap/issues/513

[2021-07-08 14:32] promaty commented on #78
I'm not sure where you got that code, but this one works:
[code]

Package:
[code]

[2021-07-08 14:39] canersevince commented on #78
this repo contains that code block.

https://github.com/graphprotocol/ipfs-sync/blob/master/src/commands/sync-files.js

[2021-07-08 14:56] promaty commented on #78
Just tried running the sync from repo above, works as well:
[code]

[2021-07-08 14:57] promaty commented on #78
The sync script only works for `v0.4.23` as `--from` but this seems to be out of scope of this issue

[2021-07-08 16:06] canersevince commented on #78
i updated npm package version and tried your code. it worked. thanks!

[2021-07-08 16:53] promaty commented on #78
Nice

[2021-07-09 02:54] longhoangwkm commented on #75
@schmidsi Morning, yes that is chapel network. Here are my project URL https://api.thegraph.com/subgraphs/id/QmSkoQriAAToUoW4quYGMBa8EdypaDbepxfuhi4WqD4hq6, many thanks

[2021-07-15 02:53] ClownYar opened #79 "ipfs Upload"
![1626317454(1)](https://user-images.githubusercontent.com/70617563/125720317-2388572e-a69a-4a61-815a-0f297a35cbc2.jpg)
I encountered this error when deploying the subgraph step, how can I solve this

[2021-07-19 09:44] azf20 opened #80 "Subgraph deployment issues: `Internal Error`"
- Users are receiving an `Internal Error` when deploying to the Subgraph Studio
- Users also can't create subgraphs in the Legacy Explorer
[code]

Reported in [Discord](https://discord.com/channels/438038660412342282/438070183794573313/866455592192442388) & replicated

[2021-07-19 10:47] azf20 commented on #80
Closing this (required an index node restart)

[2021-07-19 10:47] #80 closed, assigned to nobody

[2021-07-27 14:11] schmidsi commented on #78
I think @promaty fixed this. So reassigning & closing.

[2021-07-27 14:11] #78 closed, assigned to promaty

[2021-07-28 13:58] schmidsi commented on #79
This can happen some times. Can you just retry?

[2021-08-03 11:26] froid1911 commented on #49
Same applies to us. The feature would also be good for testing specific handlers in specific intervals without indexing the entire chain.

[2021-08-10 20:19] oikos1 opened #82 "Problems with subgraph indexing on BSC"
Hello guys,

[One of our most critical subgraphs](https://thegraph.com/legacy-explorer/subgraph/oikos1/rates?selected=logs) has been consistently failing for the past 48 hours. Here's the error message I am seeing:

```Possible reorg detected, retrying, id: QmS12QfxjxE1fG6KTomwLCuk9Doq1n4XMw9twLXidzqT7Z, error: failed to process trigger: block #9853252 (0x38c0…282a), transaction d3c45b624cdb0d8f51

[2021-08-11 12:14] azf20 opened #81 "Timeout error on a handler for Arbitrum Rinkeby"
Trigger processing is timing out on the Hosted Service, indexing Rinkeby Arbitrum. Error:

[code]

Subgraph: [QmTUxX5vivns468Pv8Lk5DArvK3KWcPTERMbWKWos4gdFu](https://thegraph.com/legacy-explorer/subgraph/connext/nxtp-arbitrum-rinkeby?selected=logs)
Mapping: https://github.com/connext/nxtp/blob/main/packages/subgraph/src/mapping.ts#L64

Developer has tried to redeploy - same error, **but on a diffe

[2021-08-12 14:24] azf20 commented on #82
Hi @oikos1, thanks for reporting. This was related to an issue with our BSC node provider - @pranavdaa is this issue still open?

[2021-08-14 03:30] oikos1 commented on #82
This issue was resolved. Closing. Thank you guys!

[2021-08-15 21:26] #82 closed, assigned to nobody

[2021-08-16 18:43] nftgeek commented on #74
Hello,  @azf20  @schmidsi   any update on this issue?  can't index bsc for days.  what went wrong?

[2021-08-16 22:58] azf20 commented on #74
hi @nftgeek - are you seeing the `missing trie node` error specifically, or a different BSC indexing error?

[2021-08-16 23:39] nftgeek commented on #74
Hi @azf20   yes exactly.  we are seeing the `missing trie node` error.  is there any workaround?

[2021-08-17 10:20] azf20 commented on #74
@pranavdaa was working on this with the BSC team - is there any update here?

[2021-08-17 12:54] koen84 commented on #74
"missing try node" is an error generally associated with running a fast / full node, where archive node is required

[2021-08-17 12:56] rhlsthrm commented on #74
I'm seeing the same error on my Arbitrum testnet subgraph: https://thegraph.com/legacy-explorer/subgraph/connext/nxtp-arbitrum-rinkeby?selected=logs

[2021-08-17 19:16] schmidsi commented on #74
@rhlsthrm Regarding Arbitrum: We are working with them to find a solution here. Thanks for flagging this.

[2021-08-24 13:38] schmidsi commented on #74
@rhlsthrm "Missing trie node" problem should be fixed on `arbitrum-rinkeby`. I quickly checked your subgraph and it looks good to me. Can you confirm this?

[2021-08-24 15:50] rhlsthrm commented on #74
@schmidsi it is indeed fixed. Thank you for following up.

[2021-09-02 15:51] schmidsi opened #83 "Gateway: Failed to get entities from store"
Error message:
[code]

Report on Discord: https://discord.com/channels/438038660412342282/438070183794573313/882916858838282290

Reproduction steps:
- Go to: https://thegraph.com/explorer/subgraph?id=0x2f0963e77ca6ac0c2dad1bf4147b6b40e0dd8728-0&view=Playground
- Run the query several times

<img width="1552" alt="Screenshot 2021-09-02 at 17 34 04" src="https://user-images.githubusercontent.com/103

[2021-09-02 17:42] lutter commented on #83
This looks like an issue with a specific indexer; the error message indicates that something is seriously wrong with the database setup of that indexer, but it's not possible to tell from the error message which indexer that is. Without knowing which indexer is returning that error, it's not possible to further investigate what got that indexer into that state.

@Jannis or @fordN: any ideas on how

[2021-09-09 01:28] schmidsi commented on #75
Hey, we have a better endpoint now for Binance that should support also blocks before 7796111. Can you please deploy a version of your subgraph that starts before that block and see, if that error is still around?

[2021-09-09 01:28] schmidsi commented on #74
Hey, we have a better endpoint now for Binance Smart Chain that should support also blocks before 7796111. Can you please deploy a version of your subgraph that starts before that block and see, if that error is still around?

[2021-09-20 04:30] cauta opened #84 "Error calling old contract function"
I'm facing the issue when redeploy the subgraph on goerli tesnet
the error happens when my contract was deployed about a week
it can not retrieve contract function although i can call from etherscan
[code]
The issue seem disappear when i create new contract and redeploy

graph-cli version: 0.21.1 & 0.22.0 both the same issue
graph-node 0.24.0
graph-ts: 0.22.0
apiVersion 0.0.4 & 0.0.5 both the same

[2021-09-23 06:14] cauta commented on #84
move to graph-ts at issue: https://github.com/graphprotocol/graph-ts/issues/207

[2021-09-23 06:14] #84 closed, assigned to nobody

[2021-10-08 09:01] jacko06v opened #85 "Transactions not found with filter"
i'm making a subgraph for a token, i made a query to take all the transactions made with that tokens, it works fine
the graphql schema is:

`type Transaction @entity {
  id: ID!
  Amount: BigInt!
  Sender: String!
  Receiver: String!
  MilliDate: BigInt!
}`

where the ID is the transaction hash

now i want to filter the transactions to get only transactions with a specific Receiver

i did:

`{
  t

[2021-10-14 15:24] schmidsi commented on #79
Closing this since it was an intermittent error back then. Feel free to reopen if it still exists.

[2021-10-14 15:24] #79 closed, assigned to nobody

[2021-11-16 17:28] azf20 commented on #85
Hey @jacko06v - you need to lower-case the address in the where clause, and this should work. Closing, do re-open if that doesn't resolve the issue!

[2021-11-16 17:28] #85 closed, assigned to nobody

[2021-11-17 18:50] samajammin commented on #81
Hey folks! We're seeing the same issue here: https://github.com/ethereum/clrfund/issues/402

Were you able to resolve this issue, or identify the source of the problem? It seems The Graph limits handler execution to 600 seconds. Is the only way to solve this to optimize/shorten the handler function?

Thanks in advance!

[2021-11-22 10:28] azf20 commented on #81
thanks @samajammin - we saw intermittent issues with Arbitrum `eth_call` timeouts, though that was (largely) addressed by a change to the Arbitrum node. Are you still seeing this issue, and do you have the specific call that takes a long time?

[2021-12-01 17:49] samajammin commented on #81
Good news - we've been unable to reproduce this error. We've deployed multiple new subgraph instances to RinkArby and it didn't throw any errors. We closed out https://github.com/ethereum/clrfund/issues/402

[2021-12-02 10:34] azf20 commented on #81
OK great, closing this issue, thanks @samajammin!

[2021-12-02 10:34] #81 closed, assigned to nobody

[2021-12-08 09:10] GrooveWind commented on #74
@schmidsi I have same error info when my subgraph to be used in HECO Test Chain, will it be solved?

The error info:
`WARN Trying again after eth_call RPC call failed (attempt #10) with result Err(Web3Error(Rpc(Error { code: ServerError(-32000), message: "missing trie node 1b72217958305f516e55504c8eee45207ab987f83f5d8732f0d36efa4d793f7d (path )", data: None }))), block_hash: 0x9d2c2728b6f5093c2172

[2021-12-09 13:13] azf20 commented on #74
Hey @GrooveWind - that is a problem with your HECO Test Chain node, you must ensure that it is an archival node.

Closing this issue as this was resolved for our BSC nodes, please do re-open if this error recurs for BSC subgraphs

[2021-12-09 13:13] #74 closed, assigned to nobody

[2021-12-09 21:22] pwilczynskiclearcode opened #86 "missing trie node"
Hey,
I'm trying to run a self-hosted graph-node but my subgraph stucks on `8625140` mainnet block:
[code]
Is there any way to skip this particular transaction in the subgraph? Or fix the issue?

[2021-12-13 12:37] schmidsi commented on #86
Hi @pwilczynskiclearcode, are you indexing Ethereum mainnet? Are you running your own node or are you using a JSON RPC provider like Alchemy or Infura? If you run our own node, which one do you run? Is it an archive node or just a full node? You need to have an archive node in order to run graph-node.

[2021-12-13 13:39] pwilczynskiclearcode commented on #86
Hi @schmidsi
I'm connected to Infura's `mainnet` in archive mode
[code]
Do you think that it's Infura's issue and I should use another provider?

[2021-12-13 16:11] schmidsi commented on #86
`capabilities: archive, traces` does not mean that graph-node has detected those capabilities. It simply assumes that they are present in given endpoint. As far as I know, Infura endpoints by default are full-nodes not archive nodes. Especially the free ones. I know that there are people able to run a graph-node with Infura-endpoints. But you can try Alchemy.

On another note: Did you try to deplo

[2021-12-14 12:50] pwilczynskiclearcode commented on #86
Yes, my subgraph works on hosted service.
I switched to Alechemy and it processed block that was previously stuck on Infura
Thank you!

[2021-12-14 20:30] schmidsi commented on #86
Alright, thanks for the update. Closing this issue then. Feel free to reopen it if this is not resolved for you.

[2021-12-14 20:30] #86 closed, assigned to nobody

[2021-12-15 14:37] tharindukn opened #87 "Is hosted service good for production"
**Do you want to request a feature or report a bug?**
get to know about the hosted service
**What is the current behavior?**
get to know about the hosted service
**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**
i am using a hosted service for avalanche sub graph. It is working fine. So when going live can we use the hosted s

[2021-12-16 13:25] schmidsi commented on #87
Hey @tharinduk90, yes the hosted-service is production ready. There are several subgraphs with very high traffic served by the hosted service. That said, please be aware that support for [Avalanche is still in beta](https://thegraph.com/docs/developer/create-subgraph-hosted#supported-networks) since it is a very new chain that does not have the same track record of stability and availability like

[2021-12-16 13:25] #87 closed, assigned to nobody

[2022-02-03 18:44] danaugrs commented on #49
Any updates on this? This would be very useful for us.

[2022-02-05 21:11] tapmapp opened #88 "Handler skipped due to execution failure"
Hello, I am having an indexing error in the ropsten network with a super easy event.
It seems there is an error with my handler but i can not really find where cause is quite simple.
The contract is verified so you can take a look at the code if you wish

@schmidsi could you please show some light here please? :)

[https://ropsten.etherscan.io/address/0xa427974fa3819593c0530c473ee7ff60c4e8446b#cod

[2022-02-15 03:32] SachiniPiyumali opened #89 "Can't access hosted service, gives time out error"
- Can't access the subgraph in hosted service
- It keeps loading and gives time out error

[2022-03-05 18:24] jensonb opened #90 "Missing trie node on Avalanche"
Hi team,

We have an Avalanche Hosted Service subgraph at `QmakLR16hqvPVh2bsScvYa91uUK7B4J41hNTrVwuq7PYpY`. Lately, it has been stalling out while re-indexing with the following error:

Deploying a new version to trigger re-indexing does not seem to help.

After looking at past issues like #75, it would seem that this is probably an issue on thegraph's side with the indexing nodes? Appreciate your

[2022-03-05 18:40] jensonb opened #91 "RPC rate limit on Fantom"
Hi Team,

We have a Fantom Hosted Service subgraph at `Qmb9C4bgHf7rCmWCuw6F3q8Fra6UX6UyhSmN77ZoZg2KM8`. Lately, it has been indexing extremely slowly, while returning a rate limit error:

After running for several hours, the indexing algorithm has bumped the block range down to 10 blocks and is still hitting the rate limit error.

![image](https://user-images.githubusercontent.com/19617447/1568960

[2022-03-14 15:23] TobyKreiselmaier commented on #49
This would be a life-saver for us as well!

[2022-03-18 07:51] DroidMuncher opened #92 "Pending Version won’t swap to Current Version"
Hi devs

You can see my [SubGraph here](https://thegraph.com/hosted-service/subgraph/droidmuncher/robo-vault-dev-subgraph).

I have a Pending Version that has successfully synced, although it will not swap over to the Current Version. My understand is that it should automatically replace the Current Version once syncing is complete.

It finished syncing around 6 days ago. I have tried to redeploy

[2022-03-23 18:13] werber opened #93 "Near. Error deploying the subgraph with code 524"
Couldn't find any relevant info regarding near mainnet and deploying issue. I'm trying to deploy graph to near mainnet.

In subgraph.yaml I use network like this:
[code]
as it described in docs.

What I do when deploying is simple command:
[code]

What I get in the end:
[code]

Build hash is: QmYCeSXpkpHAt1NLrQzYT8yYyGM1UuUNcAjhKcrDzU5Ukm (this is when I build graph locally, in case this is needed

[2022-04-10 15:14] mhxw opened #94 "error: failed to process trigger & node returned an error when calling function"
When I deploy my local kcc mainnet graph node, if my contract is just deployed I can successfully call the function at subgraph.
If my contract was deployed 25 days ago (or even earlier for other contracts) this error is reported. How can I solve this problem? Thanks

[code]

[2022-04-10 15:37] mhxw commented on #94
eth node --gcmode archive success

[2022-04-10 15:38] #94 closed, assigned to nobody

[2022-04-13 16:26] schmidsi commented on #89
Hey @SachiniPiyumali, so sorry for the late reply. We improved our infrastructure quite a bit and this should not be an issue anymore. Can you please try again and confirm? Otherwise happy to dive deeper into this and fix it. Feel free to reopen this ticket.

[2022-04-13 16:26] #89 closed, assigned to nobody

[2022-04-13 16:28] schmidsi commented on #90
Hey I can not find a subgraph with deploymentId `QmakLR16hqvPVh2bsScvYa91uUK7B4J41hNTrVwuq7PYpY` on the hosted service. Did you deploy a new version? Is this issue resolved? If not, feel free to reopen it.

[2022-04-13 16:28] #90 closed, assigned to nobody

[2022-04-13 16:39] schmidsi commented on #91
Hi @jensonb, sorry to hear that you had bad experiences with Fantom. There was actually an issue with wrong rate limiting which we were able to resolve. Is this still an issue for you? If yes, feel free to reopen this ticket.

Btw: Can't find subgraph `Qmb9C4bgHf7rCmWCuw6F3q8Fra6UX6UyhSmN77ZoZg2KM8` on the hosted service anymore.

[2022-04-13 16:39] #91 closed, assigned to nobody

[2022-04-13 16:49] schmidsi commented on #49
Thanks for the ping folks and sorry for the silence. This seems like a low hanging fruit to me but I might be wrong. I'll forward this to the graph-node team to make sure it gets added to the backlog.

I would also like to add the feature request to be able to stop indexing of certain contracts created with data source templates.

[2022-04-13 16:55] schmidsi commented on #92
Sorry for the late reply here. There was a bug with exactly this switch from pending to current which should be resolved by now. Closing this since your subgraph does not have a pending version anymore. Feel free to reopen if it is not resolved.

[2022-04-13 16:55] #92 closed, assigned to nobody

[2022-04-13 16:58] schmidsi commented on #93
These 524 errors are intermittent. We are monitoring it and it should have become better recently. Just trying again several times usually makes the trick. Feel free to reopen this issue if it is not resolved for you.

[2022-04-13 16:58] #93 closed, assigned to nobody

[2022-04-14 07:59] incrypto32 commented on #88
@tapmapp in this code snippet `event: FaucetSentEvent` here you are using the entity name instead of the event `FaucetEvent`

Replace it and you are good. Please refer to docs [here](https://thegraph.com/docs/en/developer/create-subgraph-hosted/#writing-mappings) And reach out to our discord if you need help.

[2022-04-14 07:59] #88 closed, assigned to nobody

[2022-04-27 03:22] mohandesjiri opened #95 "BSC subgraph with callHandler cause error"
I try to deploy a subgraph on the BSC chain and face this error:

`
Failed to start subgraph, code: SubgraphStartFailure, error: expected triggers adapter that matches deployment QmS58kNTGg4VYPNMEH53JymEKjcrUtCzRQmNS3pkNMTJMD[279681] with required capabilities: traces: A matching Ethereum network with NodeCapabilities { archive: false, traces: true } was not found.
`

When I deploy this subgraph t

[2022-05-05 09:59] ratio-dev opened #96 "Contract Events, Update Struct in Array Solidity"
I have structs in the smart contract. This is struct include "status" row (active, close and etc) how i can find changes? I can change the events in the grapql or something?

event Create()
event Close()

[2022-05-05 10:03] ratio-dev opened #97 "Pagination Pages"
How i can implement pagination to pages ? At now i find only "skip" and "first" parametres

[2022-05-09 17:44] incrypto32 commented on #97
@ratio-dev You could implement basic pagination with `skip` and `first`
Also you can base queries on an attribute and filter by that attribute as mentioned [here](https://thegraph.com/docs/en/developer/graphql-api/#example-4)

[2022-05-09 18:05] incrypto32 commented on #96
@ratio-dev Can you elaborate a bit more on what you are trying to achieve? Maybe share some code?

If you are trying to update some entity when the status field in the struct is changed. You can do it if an event like `StatusChanged` is emitted. You can create an event handler to update the entity whenever the status is changed

[2022-05-09 19:12] ratio-dev commented on #96
Yes, i tried update  a some entity. This is code works for me mapping.ts

[code]

[2022-05-09 19:12] #96 closed, assigned to nobody

[2022-05-09 19:30] ratio-dev commented on #97
@incrypto32  Thanks i created a base pagination, but i think it is very simple. At least backend solutions must have a total counter

[2022-05-10 06:59] incrypto32 commented on #97
@ratio-dev That's where you can base the queries on last recieved objects ID as i [linked](https://thegraph.com/docs/en/developer/graphql-api/#example-4) in the previous comment. Also having a single counter variable to keep track also is not a big overhead

[2022-05-10 14:55] incrypto32 commented on #95
@mohandesjiri Call handlers are not supported on all chains including bsc.

Closing this issue.Feel free to reopen if you have further questions

[2022-05-10 14:56] #95 closed, assigned to nobody

[2022-05-10 15:02] #97 closed, assigned to nobody

[2022-05-10 15:16] mohandesjiri commented on #95
@incrypto32
Thanks for your response.
As We can see in the error message subgraph could not find a node with traces: true.
Would you mind helping me to catch and resolve this error?

[2022-05-10 16:54] incrypto32 commented on #95
@mohandesjiri  As imentioned callhandlers are not available on bsc removing it will resolve this issue

[2022-05-11 06:12] mohandesjiri commented on #95
@incrypto32
 you said first "Call handlers are supported on all chains including bsc."
Anyway, is there any plan to provide this feature on BSC chain?

[2022-05-11 07:22] incrypto32 commented on #95
@mohandesjiri Appologies for the typo. Edited it.. I meant its not supported on all chains. And bsc is not supported

[2022-05-11 15:59] schmidsi commented on #95
You are right, the error message does not really talk about the underlying problem: In order to have `callHandlers` the underlying JSON RPC provider needs to implement the so called "Parity Traces" feature as described here: https://openethereum.github.io/JSONRPC-trace-module. Unfortunately, no available node for BSC is capable of doing this.

[2022-05-16 18:42] illiablkcha commented on #61
there is not a way to solve the problem.

[2022-05-16 18:43] illiablkcha commented on #61
it's a graphql bug.

[2022-05-17 05:42] wxw1111 opened #98 "venus subgraph not working"
https://thegraph.com/hosted-service/subgraph/venusprotocol/venus-subgraph
"errors": [{"message": "indexing_error"}]

[2022-05-17 14:51] incrypto32 commented on #98
@wxw1111
You can check you subgraphs health as described [here](https://thegraph.com/docs/en/hosted-service/deploy-subgraph-hosted/#checking-subgraph-health). This query will return a fatalErrors field which will contain the error message which caused it to fail.

Here you go I've done the query and this is the error that caused your subgraph to fail. You can address the issues and redeploy the su

[2022-05-17 14:51] #98 closed, assigned to nobody

[2022-05-30 20:55] schmidsi commented on #61
@chenxiwang177 This is being worked on: https://github.com/graphprotocol/graph-node/pull/3184

[2022-07-07 04:26] sebastiantf commented on #40
Is this being worked on? Would be really nice to have this built-in

[2022-08-03 06:06] R-Santev opened #99 "Problems with subgraph indexing on Ethereum Kovan"
Hello,
Our subgraph has been consistently failing for the past 12 hours. It was working fine until yesterday.

Error message:
Possible reorg detected, retrying, error: failed to process trigger: block #33066080 (0xc0c3…0194), transaction <tx_id>: Ethereum node returned an error when calling function "<function_name>" of contract "<contract_name>": code 503 wasm backtrace: 0: 0x2601 - <unknown>!~li

[2022-08-04 15:04] R-Santev commented on #99
I redeployed it after 24 hours and now it is working so I am closing the issue.

[2022-08-04 15:04] #99 closed, assigned to nobody

[2022-11-03 20:09] rafinskipg opened #100 "Trying again after eth_call RPC call for block #773384 - Arbitrum"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
Hello , i have redeployed this graph several times, but it keeps getting stuck at 2.2%. Te graph getting stuck on arbitrum-one at specific block all the time.

https://thegraph.com/hosted-service/subgraph/rafinskipg/castles-arbitrum-v0?selected=logs

**If the current behavior is a bug, please provide t

[2022-11-04 10:36] azf20 commented on #100
Hi @rafinskipg it looks like your subgraph is spending a lot of time on `eth_calls`, that is not recommended for indexing performance. It also seems to still be indexing right now, but it hasn't reached the block you mention. You can get more information about the failure if it fails by following [this documentation](https://thegraph.com/docs/en/deploying/deploying-a-subgraph-to-hosted/#checking-s

[2022-11-04 12:20] rafinskipg commented on #100
@azf20

The graph is still blocked, it never passes 2.2% of the indexation
![image](https://user-images.githubusercontent.com/1152768/199971079-34282d94-0ca9-47a8-816b-a31ea7e4a18f.png)

Could you reopen this issue? It seems like a timeout with the RPC.

I have also been posting under the hosted-service for a couple of days

[2022-11-04 13:47] azf20 commented on #100
👍 Transferred as this isn't a Graph Node bug, it's an issue with the provider on the Hosted Service. The subgraph isn't failing, we are just seeing timeouts on the `eth_call` so indexing is very slow. @incrypto32 is looking into this

[2022-11-04 14:40] incrypto32 commented on #100
@rafinskipg I'm working with our RPC provider to resolve this issue asap. Their arbitrum nodes seems to be timing out when fetching large onchain metadata

[2022-11-04 14:59] rafinskipg commented on #100
thank you for the response @azf20 and @incrypto32

I have been thinking if there's a way i can do the graph less dependant on eth_calls but i don't see much of a solution. There's another method in the contract called traitsOf that returns a JSON and i could probably use that but i have to figure out how to parse and access the data correctly using assemblyscript.

The source code for the graph: h

[2022-11-11 19:10] hunterscavenger opened #101 "BSC Chapel stucks on syncing"
Hi guys,

It seems the BSC Chapel has been stuck syncing for 1 day.
GraphID: `QmTN7Mn2wNkqAFdgAtWocHaLgsqUzSVNngwE7XvLe2LRsx`
Some of my BSC testnet graph cannot be deployed due to blocks lagging behind production. It show errors:
`Failed to deploy to Graph node https://api.thegraph.com/deploy/: deployment failure::subgraph validation error: [the specified block must exist on the Ethereum network]

[2022-11-17 05:50] songhobby commented on #75
same error for goerli testnet
schema QmaJz4Sd7TRHZ3Vim5fbAwF6HPLcZseY28GhY2t8h6mM11
handler QmesWEoniL4kKe3nDUbfKNCMnTobVSxffrxTigBvdD6ro7

error message

`
Possible reorg detected, retrying, error: failed to process trigger: block #7845583 (0xa2ed…c38f), transaction e6a6875da83204b62e65ac85eb4ec876d112aa87190183e345848312614a1507: Ethereum node returned an error when calling function "GOVERNANCE_